/*
 * Copyright (C) 2013-2013, Intercom Srl, Daniele Orlandi
 *
 * Author:: Daniele Orlandi <daniele@orlandi.com>
 *          Lele Forzani <lele@windmill.it>
 *          Alfredo Cerutti <acerutti@intercom.it>
 *
 * License:: You can redistribute it and/or modify it under the terms of the LICENSE file.
 *
 */

Ext.define('Extgui.Acao.Flight.ObjectPanel', {
  extend: 'Extgui.object.panel.Base',
  requires: [
    'Extgui.Acao.Plugin',
    'Extgui.Acao.Flight.Form',
  ],

  title: 'Flight...',
  model: 'Ygg.Acao.Flight',
  imageSrc: '<%= image_path 'email/flight_64x64.png' %>',
  tabTitleTpl: '{id}',
  panelTitleTpl: '<div class="name">Volo</div><div class="value">{id}</div>',
  modifyButton: false,
  destroyButton: false,
  logPanel: false,
  notificationsPanel: false,

  form: 'acao_flight_form',

  nav: [
  ],

  reports: [],
});
