<script type="text/javascript" src="/jwplayer/jwplayer.js"></script>
<script type="text/javascript">jwplayer.key="opiBO5hOcQSy8c43EjuWaaSwUxwYFKKu4B6NomhCsmI=";</script>
<div id="player">Loading the player...</div>
<script type="text/javascript">
    jwplayer("player").setup({
      width: '640',
      height: '480',
      autostart: true,
      image: '/acao.jpg',
      title: '<%= escape_javascript @title %>',
      description: '<%= escape_javascript @description %>',
      mediaid: '<%= escape_javascript @mediaid %>',
      sources: <%=raw @sources.to_json %>,
    });
</script>
