<script type="text/javascript" src="/jwplayer/jwplayer.js"></script>
<script type="text/javascript">jwplayer.key="opiBO5hOcQSy8c43EjuWaaSwUxwYFKKu4B6NomhCsmI=";</script>
<div id="player">Loading the player...</div>
<script type="text/javascript">
    jwplayer("player").setup({
      title: 'ACAO Timelapse',
      width: '100%',
      height: '100%',
      //autostart: true,
      //debug: 'console',
      listbar: {
        position: 'right',
        size: 220
      },
      sharing: {
        code: encodeURI("<iframe src='http://ror.acao.it/embed/MEDIAID' />"),
        link: "http://ror.acao.it/video/MEDIAID/"
      },
      playlist: <%=raw @playlist.to_json %>
    }).addButton(
    "/download_button.png",
    "Download Video",
    function() {
      window.location.href = jwplayer().getPlaylistItem().sources[jwplayer().getCurrentQuality()].file;
    },
    "download");
</script>
